<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" data-layout="vertical" data-topbar="light" data-sidebar="light"
      data-sidebar-size="lg" data-sidebar-image="none" data-preloader="disable" data-body-image="none">
<head th:replace="admin/fragments/head::head">
</head>
<body>
<!-- Begin page -->
<div id="layout-wrapper">
    <div th:replace="admin/fragments/header::header"></div>
    <!-- ========== App Menu ========== -->
    <div th:replace="admin/fragments/sidebar::sidebar"></div>
    <!-- Left Sidebar End -->
    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">

        <div class="page-content">
            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                            <h4 class="mb-sm-0">Hoá Đơn</h4>

                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Hoá Đơn</a></li>
                                    <li class="breadcrumb-item active">Danh Sách Hoá Đơn</li>
                                </ol>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- end page title -->

                <div class="row">
                    <div class="col-lg-12">
                        <div class="card" id="invoiceList">
                            <div class="card-header border-0">
                                <div class="d-flex align-items-center">
                                    <h5 class="card-title mb-0 flex-grow-1">Danh Sách Hoá Đơn</h5>
                                </div>
                            </div>
                            <div class="card-body bg-soft-light border border-dashed border-start-0 border-end-0">
                                <form>
                                    <div class="row g-3">
                                        <div class="col-xxl-3 col-sm-12">
                                            <label class="form-label" for="search-input">Tìm Kiếm</label>
                                            <div class="search-box">
                                                <input type="text" class="form-control search bg-light border-light"
                                                       placeholder="Mã đơn hàng" id="search-input"
                                                       onkeyup="loadPage()">
                                                <i class="ri-search-line search-icon"></i>
                                            </div>
                                        </div>
                                        <!--end col-->
                                        <div class="col-xxl-5 col-sm-4">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <label class="form-label" for="start-date">Ngày Bắt Đầu</label>
                                                    <input type="date" class="form-control bg-light border-light"
                                                           id="start-date">
                                                </div>
                                                <div class="col-sm-6">
                                                    <label class="form-label" for="end-date">Ngày Kết Thúc</label>
                                                    <input type="date" class="form-control bg-light border-light"
                                                           id="end-date">
                                                </div>
                                            </div>
                                        </div>
                                        <!--end col-->
                                        <div class="col-xxl-2 col-sm-4">
                                            <div class="input-light">
                                                <label class="form-label" for="status-select">Trạng Thái</label>
                                                <select class="form-control bg-light border-light"
                                                        data-choices data-choices-search-false
                                                        name="choices-single-default" id="status-select"
                                                        onchange="loadPage()">
                                                    <option value="-1" selected>Tất Cả</option>
                                                    <option value="1">Chờ Xác Nhận</option>
                                                    <option value="4">Hoàn Thành</option>
                                                </select>
                                            </div>
                                        </div>
                                        <!--end col-->

                                        <div class="col-xxl-1 col-sm-4">
                                            <br>
                                            <button type="button" class="btn btn-info w-100" style="margin-top: 10px;"
                                                    onclick="loadPage()">
                                                <i class="ri-equalizer-fill me-1 align-bottom"></i> Filter
                                            </button>
                                        </div>
                                        <div class="col-xxl-1 col-sm-12" style="padding: 0 0;">
                                            <br>
                                            <button type="button" class="btn btn-info w-100" style="margin-top: 10px;"
                                                    onclick="handleResetFilter()">
                                                <i class="ri-restart-fill me-1 align-bottom"></i>Reset
                                            </button>
                                        </div>
                                        <!--end col-->
                                    </div>
                                    <!--end row-->
                                </form>
                            </div>
                            <div class="card-body">
                                <div>
                                    <div class="table-responsive table-card">
                                        <table class="table align-middle table-nowrap" id="invoiceTable">
                                            <thead class="text-muted">
                                            <tr>
                                                <th>Mã Hoá Đơn</th>
                                                <th>Khách Hàng</th>
                                                <th>Nhân Viên</th>
                                                <th>Ngày Tạo</th>
                                                <th>Tổng Tiền</th>
                                                <th>Trạng Thái</th>
                                                <th>Action</th>
                                            </tr>
                                            </thead>
                                            <tbody
                                                    class="list form-check-all"
                                                    id="invoice-list-data">
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="d-flex justify-content-end mt-3">
                                        <div class="pagination-wrap hstack gap-2 flex-wrap" id="pagination-element">
                                            <button class="page-item pagination-prev">
                                                Quay Lại
                                            </button>
                                            <ul class="pagination listjs-pagination mb-0"></ul>
                                            <button class="page-item pagination-next">
                                                Tiếp
                                            </button>
                                        </div>
                                    </div>
                                </div>

                                <!-- Modal -->
                                <div class="modal fade flip" id="deleteOrder" tabindex="-1" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-body p-5 text-center">
                                                <lord-icon src="https://cdn.lordicon.com/gsqxdxog.json" trigger="loop"
                                                           colors="primary:#405189,secondary:#f06548"
                                                           style="width:90px;height:90px"></lord-icon>
                                                <div class="mt-4 text-center">
                                                    <h4>You are about to delete a order ?</h4>
                                                    <p class="text-muted fs-15 mb-4">Deleting your order will remove all
                                                        of your information from our database.</p>
                                                    <div class="hstack gap-2 justify-content-center remove">
                                                        <button class="btn btn-link link-success fw-medium text-decoration-none"
                                                                id="deleteRecord-close" data-bs-dismiss="modal"><i
                                                                class="ri-close-line me-1 align-middle"></i> Close
                                                        </button>
                                                        <button class="btn btn-danger" id="delete-record">Yes, Delete
                                                            It
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--end modal -->
                            </div>
                        </div>

                    </div>
                    <!--end col-->
                </div>
                <!--end row-->

            </div><!-- container-fluid -->
        </div>
        <!-- End Page-content -->
    </div>
    <!-- end main content-->
</div>
<!-- END layout-wrapper -->
<div class="modal" id="myModal" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Hoá Đơn Chi Tiết</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body" style="margin-bottom: 20px;">
                <div class="row justify-content-center">
                    <div class="col-xxl-12">
                        <div class="card" id="demo">
                            <div class="row">
                                <div class="col-lg-12">
                                    <!--end card-header-->
                                </div><!--end col-->
                                <div class="col-lg-12">
                                    <div class="card-body p-4">
                                        <div class="row g-3">
                                            <div class="col-lg-3 col-6">
                                                <p class="text-muted mb-2 text-uppercase fw-semibold fs-14">Mã Hoá
                                                    Đơn</p>
                                                <h5 class="fs-15 mb-0">#<span id="invoice-no"></span></h5>
                                            </div>
                                            <!--end col-->
                                            <div class="col-lg-3 col-6">
                                                <p class="text-muted mb-2 text-uppercase fw-semibold fs-14">Ngày Tạo</p>
                                                <h5 class="fs-15 mb-0"><span id="invoice-date"></span></h5>
                                            </div>
                                            <!--end col-->
                                            <div class="col-lg-3 col-6" id="payment-status">

                                            </div>
                                            <!--end col-->
                                            <div class="col-lg-3 col-6">
                                                <p class="text-muted mb-2 text-uppercase fw-semibold fs-14">Tổng
                                                    Tiền</p>
                                                <h5 class="fs-15 mb-0"><span id="total-amount"></span></h5>
                                            </div>
                                            <!--end col-->
                                        </div>
                                        <!--end row-->
                                    </div>
                                    <!--end card-body-->
                                </div><!--end col-->
                                <div class="col-lg-12">
                                    <div class="card-body p-4">
                                        <div class="table-responsive">
                                            <table class="table table-borderless text-center table-nowrap align-middle mb-0">
                                                <thead>
                                                <tr class="table-active">
                                                    <th scope="col" style="width: 50px;">#</th>
                                                    <th scope="col">Sản Phẩm</th>
                                                    <th scope="col">Đơn Giá</th>
                                                    <th scope="col">Số Lượng</th>
                                                    <th scope="col" class="text-end">Tổng Tiền</th>
                                                </tr>
                                                </thead>
                                                <tbody id="products-list">
                                                </tbody>
                                            </table><!--end table-->
                                        </div>
                                        <div class="border-top border-top-dashed mt-2 d-flex justify-content-between">
                                            <table class="table table-borderless table-nowrap align-middle mb-0 ms-auto"
                                                   style="width:100%">
                                                <tbody id="address">
                                                </tbody>
                                            </table>

                                            <table class="table table-borderless table-nowrap align-middle mb-0 ms-auto"
                                                   style="width:250px">
                                                <tbody id="sub-total">
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="hstack gap-2 justify-content-between d-print-none mt-4">
                                            <div class="justify-content-start" id="statusButtonGroup">
                                            </div>
                                            <div class="justify-content-end">
                                                <button class="btn btn-success" onclick="printModal()" id="printButton">
                                                    <i class="ri-printer-line align-bottom me-1"></i> Print
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <!--end card-body-->
                                </div><!--end col-->
                            </div><!--end row-->
                        </div>
                        <!--end card-->
                    </div>
                    <!--end col-->
                </div>
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>
</div>
<div th:replace="admin/fragments/chat::chat"></div>
<div th:replace="admin/fragments/themeSettings::themeSettings"></div>
<div th:replace="admin/fragments/script::script"></div>
</body>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>

    var indexCurrentPage;

    window.onload = function () {
        loadPage();
    }

    function handleResetFilter() {

        document.getElementById('status-select').value = '-1';

        document.getElementById('search-input').value = '';

        document.getElementById('start-date').value = '';

        document.getElementById('end-date').value = '';

        loadPage();
    }

    async function loadPage(pageNumber) {

        let status = document.getElementById('status-select').value;

        let keyword = document.getElementById('search-input').value;

        let startDate = document.getElementById('start-date').value;

        let endDate = document.getElementById('end-date').value;

        var baseUrl;

        indexCurrentPage = pageNumber;

        // load default
        if (pageNumber === undefined && status === "-1" && keyword === "" && (startDate === "" || endDate === "")) {
            baseUrl = "/api/admin/invoice/index/" + 0;
        }
        if (pageNumber !== undefined && status === "-1" && keyword === "" && (startDate === "" || endDate === "")) {
            baseUrl = "/api/admin/invoice/index/" + pageNumber;
        }
        //filter with date
        if (pageNumber === undefined && status === "-1" && keyword === "" && startDate !== "" && endDate !== "") {
            baseUrl = "/api/admin/invoice/index/" + 0 + "?startDate=" + startDate + "&endDate=" + endDate;
        }
        if (pageNumber !== undefined && status === "-1" && keyword === "" && startDate !== "" && endDate !== "") {
            baseUrl = "/api/admin/invoice/index/" + pageNumber + "?startDate=" + startDate + "&endDate=" + endDate;
        }
        //filter with status
        if (pageNumber === undefined && status !== "-1" && keyword === "" && (startDate === "" || endDate === "")) {
            baseUrl = "/api/admin/invoice/index/" + 0 + "?status=" + status;
        }
        if (pageNumber !== undefined && status !== "-1" && keyword === "" && (startDate === "" || endDate === "")) {
            baseUrl = "/api/admin/invoice/index/" + pageNumber + "?status=" + status;
        }
        //search
        if (pageNumber === undefined && status === "-1" && keyword !== "" && (startDate === "" || endDate === "")) {
            baseUrl = "/api/admin/invoice/index/" + 0 + "?keyword=" + keyword;
        }
        if (pageNumber !== undefined && status === "-1" && keyword !== "" && (startDate === "" || endDate === "")) {
            baseUrl = "/api/admin/invoice/index/" + pageNumber + "?keyword=" + keyword;
        }
        //search and filter with status
        if (pageNumber === undefined && status !== "-1" && keyword !== "" && (startDate === "" || endDate === "")) {
            baseUrl = "/api/admin/invoice/index/" + 0 + "?status=" + status + "&keyword=" + keyword;
        }
        if (pageNumber !== undefined && status !== "-1" && keyword !== "" && (startDate === "" || endDate === "")) {
            baseUrl = "/api/admin/invoice/index/" + pageNumber + "?status=" + status + "&keyword=" + keyword;
        }
        //search and filter with date
        if (pageNumber === undefined && status === "-1" && keyword !== "" && startDate !== "" && endDate !== "") {
            baseUrl = "/api/admin/invoice/index/" + 0 + "?keyword=" + keyword + "&startDate=" + startDate + "&endDate=" + endDate;
        }
        if (pageNumber !== undefined && status === "-1" && keyword !== "" && (startDate === "" || endDate === "")) {
            baseUrl = "/api/admin/invoice/index/" + pageNumber + "?keyword=" + keyword + "&startDate=" + startDate + "&endDate=" + endDate;
        }

        //filter with date and status
        if (pageNumber === undefined && status !== "-1" && keyword === "" && startDate !== "" && endDate !== "") {
            baseUrl = "/api/admin/invoice/index/" + 0 + "?status=" + status + "&startDate=" + startDate + "&endDate=" + endDate;
        }
        if (pageNumber !== undefined && status !== "-1" && keyword === "" && (startDate === "" || endDate === "")) {
            baseUrl = "/api/admin/invoice/index/" + pageNumber + "?status=" + status + "&startDate=" + startDate + "&endDate=" + endDate;
        }

        //search and filter all
        if (pageNumber === undefined && status !== "-1" && keyword !== "" && startDate !== "" && endDate !== "") {
            baseUrl = "/api/admin/invoice/index/" + 0 + "?status=" + status + "&startDate=" + startDate + "&endDate=" + endDate + "&keyword=" + keyword;
        }
        if (pageNumber !== undefined && status !== "-1" && keyword !== "" && (startDate === "" || endDate === "")) {
            baseUrl = "/api/admin/invoice/index/" + pageNumber + "?status=" + status + "&startDate=" + startDate + "&endDate=" + endDate + "&keyword=" + keyword;
        }

        console.log(baseUrl);
        const response = await fetch(baseUrl, {
            method: 'GET',
            headers: {
                'Authorization': 'Bearer ' + localStorage.getItem('token')
            }
        });
        var result = await response.json();
        console.log(result);
        var list = result.content;
        var totalPage = result.totalPages;
        var number = result.number;
        var main = '';
        for (i = 0; i < list.length; i++) {
            var createAt = list[i].ngayTao;
            var money = list[i].tongTien;
            var momentDate = moment(createAt);
            var customerName;
            var staffName;
            if (list[i].kh === null) {
                customerName = 'Anonymous';
            } else {
                customerName = list[i].kh.hoTen;
            }
            if (list[i].nv === null) {
                staffName = 'Chưa Có';
            } else {
                staffName = list[i].nv.hoTen;
            }
            const formattedDate = momentDate.format('DD/MM/YYYY HH:mm');
            const formattedMoney = formatmoney(money);
            var statusBadge;
            if (list[i].trangThai === 1) {
                statusBadge = '<span class="badge bg-success">Chờ Xác Nhận</span>'
            }
            if (list[i].trangThai === 2) {
                statusBadge = '<span class="badge bg-success">Đang Xử Lý</span>'
            }
            if (list[i].trangThai === 3) {
                statusBadge = '<span class="badge bg-success">Đang Giao Hàng</span>'
            }

            if (list[i].trangThai === 4) {
                statusBadge = '<span class="badge bg-success">Hoàn Thành</span>';
            }
            if (list[i].trangThai === 5) {
                statusBadge = '<span class="badge bg-danger">Giao Hàng Thất Bại</span>'
            }
            if (list[i].trangThai === 6) {
                statusBadge = '<span class="badge bg-danger">Huỷ</span>'
            }
            main += `<tr >
                            <td scope="row">${list[i].maDonHang}</td>
                            <td scope="row">${customerName}</td>
                            <td scope="row">${staffName}</td>
                            <td scope="row">${formattedDate}</td>
                            <td scope="row">${formattedMoney}</td>
                            <td scope="row">${statusBadge}</td>
                            <td>
                                <div onclick="detailInvoice(${list[i].id})"
                                     class="link-info fs-15"><i class="ri-eye-2-line"></i></div>
                            </td>
                     </tr>`
        }
        document.getElementById("invoice-list-data").innerHTML = main;
        var pagination = `
                            <button class="page-item pagination-prev" onclick="loadPage(${number - 1 < 0 ? totalPage - 1 : number - 1})">
                                    Quay Lại
                            </button>
                            <button class="page-item pagination-wrap" disabled>${number + 1}</button>
                            <button class="page-item pagination-next" onclick="loadPage(${number + 1 === totalPage ? 0 : number + 1})">
                                    Tiếp
                            </button>
        `;
        document.getElementById("pagination-element").innerHTML = pagination;
    }

    function formatmoney(money) {
        const VND = new Intl.NumberFormat('vi-VN', {
            style: 'currency',
            currency: 'VND',
        });
        return VND.format(money);
    }

    async function detailInvoice(id) {
        let url = '/api/admin/invoice/invoice-detail/' + id;
        const response = await fetch(url, {
            method: 'GET',
            headers: {
                'Authorization': 'Bearer ' + localStorage.getItem('token')
            }
        })
        const data = await response.json();
        let main = '';
        let sub_total = '';
        let total_amount = 0;
        let address;
        let customer;
        let order_status;
        let order_id;
        if (response.status === 200) {
            order_status = data[0].dh.trangThai;
            order_id = data[0].dh.id;
            address = data[0].dh.ttvc;
            customer = data[0].dh.kh;
            let hidden;
            if (data[0].dh.trangThai > 0 && data[0].dh.trangThai < 4) {
                hidden = 'style="display: none;"';
            } else {
                hidden = '';
            }
            for (i = 0; i < data.length; i++) {
                let hidden;
                if (data[i].dh.trangThai > 0 && data[i].dh.trangThai < 4) {
                    hidden = 'style="display: none;"';
                } else {
                    hidden = '';
                }
                total_amount += data[i].spct.sp.donGia * data[i].soLuong;
                main += `
                <tr>
                      <th scope="row">${i + 1}</th>
                      <td class="text-start">
                      <span class="fw-medium">${data[i].spct.sp.tenSP}</span>
                             <p class="text-muted mb-0">${data[i].spct.ms.ten} & ${data[i].spct.size}</p>
                      </td>
                      <td>${formatmoney(data[i].spct.sp.donGia)}</td>
                      <td>${data[i].soLuong}</td>
                      <td class="text-end">${formatmoney(data[i].spct.sp.donGia * data[i].soLuong)}</td>
                </tr>`
            }
            var vat = (total_amount) - (total_amount * 0.9);
            sub_total = `
                   <tr>
                              <td>Tổng tiền <small class="text-muted">(Trước thuế)</small></td>
                              <td class="text-end">${formatmoney(total_amount)}</td>
                   </tr>
                   <tr>
                             <td>VAT (10%)</td>
                             <td class="text-end">${formatmoney(vat)}</td>
                   </tr>
                   <tr>
                              <td>Mã giảm giá <small class="text-muted">Không áp Dụng</small></td>
                              <td class="text-end">- ${formatmoney(0)}</td>
                   </tr>
                   <tr class="border-top border-top-dashed fs-15">
                               <th scope="row">Tổng số tiền</th>
                               <th class="text-end">${formatmoney(total_amount + vat)}</th>
                   </tr>
                    <tr ${hidden}>
                              <td>Tiền Khách Trả</td>
                              <td class="text-end">${formatmoney(data[0].dh.tienKhachTra)}</td>
                   </tr>
                    <tr ${hidden}>
                              <td>Tiền trả lại</td>
                              <td class="text-end">${formatmoney(data[0].dh.tienKhachTra - (total_amount + vat))}</td>
                   </tr>
            `;
            var momentDate = moment(data[0].dh.ngayTao);
            var status = '';
            if (data[0].dh.trangThai > 0 && data[0].dh.trangThai < 4) {
                status = `
                 <p class="text-muted mb-2 text-uppercase fw-semibold fs-14">Trạng Thái</p>
                            <span class="badge bg-success-subtle text-info"
                                                      >Chưa Thanh Toán</span>
                `;
            }
            if (data[0].dh.trangThai === 4) {
                status = `
                 <p class="text-muted mb-2 text-uppercase fw-semibold fs-14">Trạng Thái</p>
                            <span class="badge bg-success-subtle text-success"
                                                      >Đã Thanh Toán</span>
                `;
            }
            if (data[0].dh.trangThai === 6 || data[0].dh.trangThai === 5) {
                status = `
                 <p class="text-muted mb-2 text-uppercase fw-semibold fs-14">Trạng Thái</p>
                            <span class="badge bg-success-subtle text-danger"
                                                      >Huỷ</span>
                `;
            }
            if (address) {
                let addressDetail;
                if (isNaN(address.diaChiCuThe.charAt(0))) {
                    addressDetail = address.diaChiCuThe.charAt(0).toUpperCase() + address.diaChiCuThe.slice(1);
                } else {
                    addressDetail = address.diaChiCuThe;
                }
                document.getElementById('address').innerHTML = `
                        <div class="col-lg-12">
                            <div class="card border-0">
                                <br>
                                <label class="form-label">
                                    <div class="row">
                                        <div class="col-md-6"><span class="mb-3 text-uppercase fw-semibold d-block">Địa chỉ nhận hàng</span></div>
                                    </div>
                                    <span class="fs-14 mb-2 d-block fw-semibold">${customer.hoTen}</span>
                                    <span class="text-muted fw-normal text-wrap mb-1 d-block">${address.ttp + ', ' + address.qh + ', ' + address.xp + '.'}</span>
                                    <span class="text-muted fw-normal text-wrap mb-1 d-block">${addressDetail + '.'}</span>
                                    <span class="text-muted fw-normal d-block">${address.sdtNguoiNhan}</span>
                                </label>
                            </div>
                        </div>`;
            } else {
                document.getElementById('address').innerHTML = '';
            }
            handleStatusInvoice(order_status, order_id);
            document.getElementById('products-list').innerHTML = main;
            document.getElementById('sub-total').innerHTML = sub_total;
            document.getElementById('invoice-no').innerText = data[0].dh.maDonHang;
            document.getElementById('invoice-date').innerText = momentDate.format('DD/MM/YYYY HH:mm');
            document.getElementById('payment-status').innerHTML = status;
            document.getElementById('total-amount').innerText = formatmoney(total_amount);
            $('#myModal').modal('show');
        }
    }

    function printModal() {
        document.getElementById('layout-wrapper').style.display = 'none';
        document.getElementById('statusButtonGroup').style.display = 'none';
        window.print();
        document.getElementById('layout-wrapper').style.display = 'block';
        document.getElementById('statusButtonGroup').style.display = 'block';
    }

    function handleStatusInvoice(status, id_order) {
        console.log('id order : ' + id_order);
        let buttonGroup = '';
        if (status === 1) {
            buttonGroup = `
                <button class="btn btn-success" onclick="handleInvoice(2,${id_order})"><i
                     class="ri-check-line align-bottom me-1"></i> Xác Nhận
                </button>
                  <button class="btn btn-danger" onclick="handleInvoice(6,${id_order})"><i
                     class="ri-close-line align-bottom me-1"></i> Huỷ
                </button>
            `;
            document.getElementById('statusButtonGroup').innerHTML = buttonGroup;
        } else if (status === 2) {
            buttonGroup = `
                <button class="btn btn-success" onclick="handleInvoice(3,${id_order})"><i
                     class="ri-truck-fill align-bottom me-1"></i> Giao Hàng
                </button>
            `;
            document.getElementById('statusButtonGroup').innerHTML = buttonGroup;
        } else if (status === 3) {
            buttonGroup = `
                <button class="btn btn-success" onclick="handleInvoice(4,${id_order})"><i
                     class="ri-check-line align-bottom me-1"></i> Giao Thành Công
                </button>
                 <button class="btn btn-danger" onclick="handleInvoice(5,${id_order})"><i
                     class="ri-error-warning-fill align-bottom me-1"></i> Giao Thất Bại
                </button>
            `;
            document.getElementById('statusButtonGroup').innerHTML = buttonGroup;
        } else {
            document.getElementById('statusButtonGroup').innerHTML = buttonGroup;
        }
    }

    async function handleInvoice(status, id) {
        let staff_id = localStorage.getItem("adminId");
        swal.fire({
            icon: 'question',
            title: 'Thông báo',
            text: 'Bạn có muốn thay đổi trạng thái!',
            confirmButtonText: 'Có',
            showCancelButton: true,
            cancelButtonText: 'Không'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: '/api/client/order/invoice/change-status/' +
                        id + '?status=' + status + '&idStaff=' + staff_id,
                    method: 'GET',
                    headers: {
                        'Authorization': 'Bearer ' + localStorage.getItem('token')
                    },
                    success: function (response) {
                        console.log(response)
                        if (response === 'success') {
                            swal.fire({
                                icon: 'success',
                                title: 'Thông Báo',
                                text: 'Chuyển Trạng Thái Thành Công!'
                            }).then(() => {
                                $('#myModal').modal('hide');
                                loadPage();
                            })
                        }
                        if (response === 'failure') {
                            swal.fire({
                                icon: 'warning',
                                title: 'Thông Báo',
                                text: 'Đơn Hàng Đã Được Chuyển Trạng Thái Trước Đó!'
                            }).then(() => {
                                $('#myModal').modal('hide');
                                loadPage();
                            })
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error('Error:', error);
                    }
                })
            }
        })
    }
</script>
</html>