<div th:fragment="script">
    <!-- JAVASCRIPT -->
    <script th:src="@{/assets/libs/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/assets/libs/simplebar/simplebar.min.js}"></script>
    <script th:src="@{/assets/js/plugins.js}"></script>

    <!-- Swiper Js-->
    <script th:src="@{/assets/libs/swiper/swiper-bundle.min.js}"></script>

    <!-- Trend Fashion init js-->
    <script th:src="@{/assets/js/frontend/trend-fashion.init.js}"></script>

    <!-- menu init js -->
    <script th:src="@{/assets/js/frontend/menu.init.js}"></script>

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            handleAuth();
        });
    </script>
    <script>
        function handleAuth() {
            let handleAuthElement = '';
            let userId = localStorage.getItem("userId");
            console.log(userId);
            if(userId !== null){
                handleAuthElement = `
                    <div class="dropdown header-item dropdown-hover-end">
                        <button
                                type="button"
                                class="btn"
                                id="page-header-user-dropdown"
                                data-bs-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false"
                        >
                            <img
                                    class="rounded-circle header-profile-user"
                                    src="../assets/images/users/avatar-1.jpg"
                                    alt="Header Avatar"
                            />
                        </button>
                        <div class="dropdown-menu dropdown-menu-end">
                            <!-- item-->
                            <h6 class="dropdown-header">Welcome Diana!</h6>
                            <a class="dropdown-item" href="order-history"
                            ><i class="bi bi-cart4 text-muted fs-16 align-middle me-1"></i>
                                <span class="align-middle">Order History</span></a
                            >
                            <a class="dropdown-item" href="track-order"
                            ><i class="bi bi-truck text-muted fs-16 align-middle me-1"></i>
                                <span class="align-middle">Track Orders</span></a
                            >
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="account.html"
                            ><i
                                    class="mdi mdi-cog-outline text-muted fs-16 align-middle me-1"
                            ></i>
                                <span class="align-middle">Settings</span></a
                            >
                            <a class="dropdown-item" onclick="logout()"
                            ><i
                                    class="bi bi-box-arrow-right text-muted fs-16 align-middle me-1"
                            ></i>
                                <span class="align-middle" data-key="t-logout">Logout</span></a
                            >
                        </div>
                    </div>
                `;
                document.getElementById('login-logout').innerHTML = handleAuthElement;
            }
        }
    </script>
    <script>
        function logout() {
            localStorage.removeItem("token");
            localStorage.removeItem("refreshToken");
            localStorage.removeItem("userId");
            window.location.href = '/auth-signin-basic';
        }
    </script>
    <script>
        function handleNextShopCart() {
            let userId = localStorage.getItem("userId");
            console.log(userId);
            if(userId === null || userId === undefined){
                swal.fire({
                    icon: "error",
                    title: "Thông Báo",
                    text: "Bạn phải đăng nhập để sử dụng chức năng này!",
                    confirmButtonText: "OK"
                })
            } else {
                window.location.href = '/shop-cart';
            }
        }
    </script>
    <script>
        function handleLogin(){
            window.location.href = '/auth-signin-basic';
        }
    </script>
    <script>
        function handleStatusLogin() {
            if(localStorage.getItem("userId")=== null){
                swal.fire({
                    icon: "warning",
                    title: "Thông Báo",
                    text: "Vui Lòng Đăng Nhập!"
                }).then((result)=>{
                    if(result.isConfirmed){
                        window.location.href = '/client/product';
                    }
                })
            }
        }
    </script>
</div>