<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" data-layout="vertical" data-topbar="light" data-sidebar="light"
      data-sidebar-size="lg" data-sidebar-image="none" data-preloader="disable" data-body-image="none">
<head th:replace="admin/fragments/head::head"></head>
<body>
<!-- Begin page -->
<div id="layout-wrapper">
    <div th:replace="admin/fragments/header::header"></div>
    <!-- ========== App Menu ========== -->
    <div th:replace="admin/fragments/sidebar::sidebar"></div>
    <!-- Left Sidebar End -->
    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">

        <div class="page-content">
            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                            <h4 class="mb-sm-0">Bán hàng tại quầy</h4>

                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Bán hàng</a></li>
                                    <li class="breadcrumb-item active">Tại quầy</li>
                                </ol>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- end page title -->
                <!--end row-->
                <form id="createproduct-form" autocomplete="off" class="needs-validation" novalidate>
                    <div class="row">
                        <div class="col-xl-9 col-lg-8">
                            <div class="card">
                                <div class="card-header">
                                    <div class="d-flex">
                                        <div class="flex-shrink-0 me-3">
                                            <div class="avatar-sm">
                                                <div class="avatar-title rounded-circle bg-light text-primary fs-20">
                                                    <i class="bi bi-receipt"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="flex-grow-1">
                                            <h5 class="card-title mb-1">Hóa đơn chờ</h5>
                                            <p class="text-muted mb-0">Hóa đơn chờ.</p>
                                        </div>
                                        <div class="row g-lg-2 g-4">
                                            <div class="col-lg-auto col-sm-3 ms-auto">
                                                <button type="button" class="btn btn-primary w-100 add-btn">
                                                    Thêm
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="row" id="hoaDonChoList">
                                        <div class="col-lg-12">
                                            <div class="card">
                                                <div class="card-body">
                                                    <div class="row g-lg-2 g-4">
                                                        <div class="col-lg-3">
                                                            <div class="search-box">
                                                                <input type="text" class="form-control search"
                                                                       placeholder="Search for users...">
                                                                <i class="ri-search-line search-icon"></i>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-auto col-sm-9">
                                                            <select class="form-control" data-choices
                                                                    data-choices-search-false
                                                                    name="choices-single-default" id="idStatus1">
                                                                <option value="all">All</option>
                                                                <option value="Today">Today</option>
                                                                <option value="Yesterday">Yesterday</option>
                                                                <option value="Last 7 Days">Last 7 Days</option>
                                                                <option value="Last 30 Days">Last 30 Days</option>
                                                                <option value="This Month" selected>This Month</option>
                                                                <option value="Last Month">Last Month</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-body">
                                                    <div class="table-responsive table-card mb-1">
                                                        <table class="table align-middle table-nowrap"
                                                               id="customerTable1">
                                                            <thead class="table-light">
                                                            <tr>
                                                                <th>User Name
                                                                </th>
                                                                <th>Email</th>
                                                                <th>Create Date</th>
                                                                <th>Account Status</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody class="list form-check-all">
                                                            <tr>
                                                                </td>
                                                                <td class="user_name">
                                                                    <div class="d-flex align-items-center gap-2">
                                                                        <div class="flex-shrink-0">
                                                                            <img src="../assets/images/users/avatar-2.jpg"
                                                                                 alt=""
                                                                                 class="avatar-xs rounded-circle user-profile-img">
                                                                        </div>
                                                                        <span class="user-name">Alfred Hurst</span>
                                                                    </div>
                                                                </td>
                                                                <td class="email_id">alfredH@toner.com</td>
                                                                <td class="date">18 Dec, 2018</td>
                                                                <td class="status"><span
                                                                        class="badge bg-danger-subtle text-danger ">Inactive</span>
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                        <div class="noresult" style="display: none">
                                                            <div class="text-center">
                                                                <lord-icon src="https://cdn.lordicon.com/msoeawqm.json"
                                                                           trigger="loop"
                                                                           colors="primary:#121331,secondary:#08a88a"
                                                                           style="width:75px;height:75px"></lord-icon>
                                                                <h5 class="mt-2">Sorry! No Result Found</h5>
                                                                <p class="text-muted mb-0">We've searched more than 150+
                                                                    Orders We did not find any orders for you
                                                                    search.</p>
                                                            </div>
                                                        </div>
                                                    </div>


                                                    <div class="d-flex justify-content-center">
                                                        <div class="pagination-wrap hstack gap-2">
                                                            <a class="page-item pagination-prev">
                                                                <i class="mdi mdi-chevron-double-left align-middle ms-1"></i>
                                                            </a>
                                                            </a>
                                                            <a class="page-item pagination-prev">
                                                                <i class="mdi mdi-chevron-left align-middle ms-1"></i>
                                                            </a>
                                                            </a>
                                                            <ul class="pagination listjs-pagination mb-0">
                                                                <li class="active"><a class="page" data-i="1"
                                                                                      data-page="10">1</a></li>
                                                            </ul>
                                                            <a class="page-item pagination-next">
                                                                <i class="mdi mdi-chevron-right align-middle ms-1"></i></a>
                                                            </a>
                                                            <a class="page-item pagination-next">
                                                                <i class="mdi mdi-chevron-double-right align-middle ms-1"></i></a>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end card -->

                            <div class="card">
                                <div class="card-header">
                                    <div class="d-flex">
                                        <div class="flex-shrink-0 me-3">
                                            <div class="avatar-sm">
                                                <div class="avatar-title rounded-circle bg-light text-primary fs-20">
                                                    <i class="bi bi-box2"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="flex-grow-1">
                                            <h5 class="card-title mb-1">Sản phẩm chi tiết</h5>
                                            <p class="text-muted mb-0">Chi tiết sản phẩm.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="row" id="sanPhamChiTietList">
                                        <div class="col-lg-12">
                                            <div class="card">
                                                <div class="card-body">
                                                    <div class="row g-lg-2 g-4">
                                                        <div class="col-lg-3">
                                                            <div class="search-box">
                                                                <input id="search" type="text" class="form-control search"
                                                                       placeholder="Tìm kiếm sản phẩm">
                                                                <i class="ri-search-line search-icon"></i>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-3">
                                                            <select id="sort" class="form-control" onchange="loadSpChiTiet(0)">
                                                                <option value="sp.donGia,asc">Giá tăng dần</option>
                                                                <option value="sp.donGia,desc">Giá giảm dần</option>
                                                                <option value="sp.tenSP,asc">Tên sản phẩm a-z</option>
                                                                <option value="sp.tenSP,desc">Tên sản phẩm z-a</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-lg-3">
                                                            <button onclick="loadSpChiTiet(0)" type="button" class="btn btn-primary">Tìm kiếm</button>
                                                        </div>
                                                        <div class="col-lg-3">
                                                            <button onclick="lamMoi()" type="button" class="btn btn-primary">Làm mới</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-body">
                                                    <div class="table-responsive table-card mb-1">
                                                        <table class="table align-middle table-nowrap"
                                                               id="customerTable2">
                                                            <thead class="table-light">
                                                            <tr>
                                                                <th>ID SPCT</th>
                                                                <th>Tên sản phẩm</th>
                                                                <th>Màu sắc</th>
                                                                <th>Kích thước</th>
                                                                <th>Số lượng</th>
                                                                <th>Đơn giá</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody class="list form-check-all" id="listspct">

                                                            </tbody>
                                                        </table>
                                                    </div>



                                                    <div class="d-flex justify-content-center">
                                                        <div class="pagination-wrap hstack gap-2">
                                                            <a class="page-item pagination-prev" id="prectsp">
                                                                <i class="mdi mdi-chevron-double-left align-middle ms-1"></i>
                                                            </a>
                                                            <ul class="pagination listjs-pagination mb-0" id="pagespct">
                                                                <li class="active"><a class="page" data-i="1" data-page="10">1</a></li>
                                                            </ul>
                                                            <a class="page-item pagination-next" id="nextctsp">
                                                                <i class="mdi mdi-chevron-double-right align-middle ms-1"></i></a>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header">
                                    <div class="d-flex">
                                        <div class="flex-shrink-0 me-3">
                                            <div class="avatar-sm">
                                                <div class="avatar-title rounded-circle bg-light text-primary fs-20">
                                                    <i class="bi bi-cart2"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="flex-grow-1">
                                            <h5 class="card-title mb-1">Giỏ hàng</h5>
                                            <p class="text-muted mb-0">Giỏ hàng.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="row" id="gioHangList">
                                        <div class="col-lg-12">
                                            <div class="card">
                                                <div class="card-body">
                                                    <div class="row g-lg-2 g-4">
                                                        <div class="col-lg-3">
                                                            <div class="search-box">
                                                                <input type="text" class="form-control search"
                                                                       placeholder="Search for users...">
                                                                <i class="ri-search-line search-icon"></i>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-auto col-sm-9">
                                                            <select class="form-control" data-choices
                                                                    data-choices-search-false
                                                                    name="choices-single-default" id="idStatus3">
                                                                <option value="all">All</option>
                                                                <option value="Today">Today</option>
                                                                <option value="Yesterday">Yesterday</option>
                                                                <option value="Last 7 Days">Last 7 Days</option>
                                                                <option value="Last 30 Days">Last 30 Days</option>
                                                                <option value="This Month" selected>This Month</option>
                                                                <option value="Last Month">Last Month</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-body">
                                                    <div class="table-responsive table-card mb-1">
                                                        <table class="table align-middle table-nowrap"
                                                               id="customerTable3">
                                                            <thead class="table-light">
                                                            <tr>
                                                                <th class="sort desc" data-sort="user_name">User Name
                                                                </th>
                                                                <th class="sort" data-sort="email_id">Email</th>
                                                                <th class="sort" data-sort="date">Create Date</th>
                                                                <th class="sort" data-sort="status">Account Status</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody class="list form-check-all">
                                                            <tr>
                                                                </td>
                                                                <td class="user_name">
                                                                    <div class="d-flex align-items-center gap-2">
                                                                        <div class="flex-shrink-0">
                                                                            <img src="../assets/images/users/avatar-2.jpg"
                                                                                 alt=""
                                                                                 class="avatar-xs rounded-circle user-profile-img">
                                                                        </div>
                                                                        <span class="user-name">Alfred Hurst</span>
                                                                    </div>
                                                                </td>
                                                                <td class="email_id">alfredH@toner.com</td>
                                                                <td class="date">18 Dec, 2018</td>
                                                                <td class="status"><span
                                                                        class="badge bg-danger-subtle text-danger ">Inactive</span>
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                        <div class="noresult" style="display: none">
                                                            <div class="text-center">
                                                                <lord-icon src="https://cdn.lordicon.com/msoeawqm.json"
                                                                           trigger="loop"
                                                                           colors="primary:#121331,secondary:#08a88a"
                                                                           style="width:75px;height:75px"></lord-icon>
                                                                <h5 class="mt-2">Sorry! No Result Found</h5>
                                                                <p class="text-muted mb-0">We've searched more than 150+
                                                                    Orders We did not find any orders for you
                                                                    search.</p>
                                                            </div>
                                                        </div>
                                                    </div>


                                                    <div class="d-flex justify-content-center">
                                                        <div class="pagination-wrap hstack gap-2">
                                                            <a class="page-item pagination-prev">
                                                                <i class="mdi mdi-chevron-double-left align-middle ms-1"></i>
                                                            </a>
                                                            </a>
                                                            <a class="page-item pagination-prev">
                                                                <i class="mdi mdi-chevron-left align-middle ms-1"></i>
                                                            </a>
                                                            </a>
                                                            <ul class="pagination listjs-pagination mb-0">
                                                                <li class="active"><a class="page" data-i="1"
                                                                                      data-page="10">1</a></li>
                                                            </ul>
                                                            <a class="page-item pagination-next">
                                                                <i class="mdi mdi-chevron-right align-middle ms-1"></i></a>
                                                            </a>
                                                            <a class="page-item pagination-next">
                                                                <i class="mdi mdi-chevron-double-right align-middle ms-1"></i></a>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end card -->

                        </div>
                        <!-- end col -->

                        <div class="col-xl-3 col-lg-4">
                            <div class="card">
                                <div class="card-body">
                                    <div class="mb-3">
                                        <div class="section">
                                            <div id="my-qr-reader">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end card body -->
                            </div>
                            <!-- end card -->

                            <div class="card">
                                <div class="card-header">
                                    <h6 class="card-title mb-0">Thông tin đơn hàng</h6>
                                </div>
                                <!-- end card body -->
                                <div class="card-body">
                                    <div class="">
                                        <label for="nhanvien-input" class="form-label">Nhân viên</label>
                                        <input type="text" id="nhanvien-input" class="form-control" placeholder="">
                                    </div>
                                    <div>
                                        <label for="thoigian-input" class="form-label">Thời gian</label>
                                        <input type="text" id="thoigian-input" class="form-control" placeholder="">
                                    </div>
                                    <div>
                                        <label for="khachhang-input" class="form-label">Khách hàng</label>
                                        <input type="text" id="khachhang-input" class="form-control" placeholder="">
                                        <br>
                                        <input type="text" id="" class="form-control" placeholder=""></div>
                                    <div>
                                        <label for="voucher-input" class="form-label">Mã voucher</label>
                                        <input type="text" id="voucher-input" class="form-control" placeholder=""></div>
                                    <div>
                                        <label for="tongtien-input" class="form-label">Tổng tiền</label>
                                        <input type="text" id="tongtien-input" class="form-control" placeholder="">
                                    </div>
                                </div>
                            </div>
                            <!-- end card -->
                        </div>
                        <!-- end col -->
                    </div>
                    <!-- end row -->
                </form>
            </div>
            <!-- End Page-content -->
        </div>
        <!-- end main content-->
    </div>
    <!-- END layout-wrapper -->
</div>
<div th:replace="admin/fragments/chat::chat"></div>
<div th:replace="admin/fragments/themeSettings::themeSettings"></div>
<div th:replace="admin/fragments/script::script"></div>

<script>
    window.onload = function (){
        loadSpChiTiet(0);
    }
    var size = 5;
    function  lamMoi(){
        document.getElementById("search").value = "";
        loadSpChiTiet(0);
    }
    async function loadSpChiTiet(page) {
        var sort = document.getElementById("sort").value;
        var search = document.getElementById("search").value;
        var url = 'http://localhost:8080/admin/sell-off/san-pham-chi-tiet?page=' + page + '&size=' + size+'&sort='+sort;
        if (search != "") {
            url += '&search=' + search
        }
        const response = await fetch(url, {
            method: 'GET'
        });
        var result = await response.json();
        console.log(result)
        var list = result.content;
        var totalPage = result.totalPages;
        if(page == totalPage){
            return;
        }
        var main = '';
        for (i = 0; i < list.length; i++) {
            main += `<tr>
                    <td>${list[i].id}</td>
                    <td>${list[i].sp.tenSP}</td>
                    <td>${list[i].ms.ten}</td>
                    <td>${list[i].size}</td>
                    <td>${list[i].soLuong}</td>
                    <td>${formatmoney(list[i].sp.donGia)}</td>
                </tr>`
        }
        document.getElementById("listspct").innerHTML = main
        var mainpage = ''
        for (i = 1; i <= totalPage; i++) {
            // mainpage += `<li onclick="loadSpChiTiet(${(Number(i) - 1)})" class="page-item"><a class="page-link" href="#listsp">${i}</a></li>`

            mainpage += `<li onclick="loadSpChiTiet(${(Number(i) - 1)})" class="pageationli"><a class="page">${i}</a></li>`
        }
        document.getElementById("pagespct").innerHTML = mainpage

        var listli = document.getElementsByClassName('pageationli');
        for(j=0; j< listli.length; j++){
            listli[j].classList.remove('active');
        }
        listli[page].classList.add('active')

        document.getElementById("prectsp").onclick = function (){
            loadSpChiTiet(page - 1)
        }
        document.getElementById("nextctsp").onclick = function (){
            loadSpChiTiet(page + 1)
        }
    }


    function formatmoney(money) {
        const VND = new Intl.NumberFormat('vi-VN', {
            style: 'currency',
            currency: 'VND',
        });
        return VND.format(money);
    }

</script>
</body>
</html>
