<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" data-layout="vertical" data-topbar="light" data-sidebar="light"
      data-sidebar-size="lg" data-sidebar-image="none" data-preloader="disable" data-body-image="none">
<head th:replace="admin/fragments/head::head"></head>
<body>
<!-- Begin page -->
<div id="layout-wrapper">
    <div th:replace="admin/fragments/header::header"></div>
    <!-- ========== App Menu ========== -->
    <div th:replace="admin/fragments/sidebar::sidebar"></div>
    <!-- Left Sidebar End -->
    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">

        <div class="page-content">
            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                            <h4 class="mb-sm-0">Thêm Sản Phẩm</h4>

                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Sản Phẩm</a></li>
                                    <li class="breadcrumb-item active">Thêm Sản Phẩm</li>
                                </ol>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- end page title -->

                <form id="createproduct-form" autocomplete="off" class="needs-validation" novalidate
                      th:action="@{/api/admin/product/save_product}" method="post" th:object="${product}">
                    <div class="row">
                        <div class="col-xl-12 col-lg-8">
                            <div class="card">
                                <div class="card-header">
                                    <div class="d-flex">
                                        <div class="flex-shrink-0 me-3">
                                            <div class="avatar-sm">
                                                <div class="avatar-title rounded-circle bg-light text-primary fs-20">
                                                    <i class="bi bi-list-ul"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="flex-grow-1">
                                            <h5 class="card-title mb-1">General Information</h5>
                                            <p class="text-muted mb-0">Fill all information below.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="row ">
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label class="form-label" for="product-name-input">Tên Sản Phẩm</label>
                                                <input type="text" class="form-control" id="product-name-input"
                                                       placeholder="Nhập Tên Sản Phẩm" th:name="tenSP"
                                                       onkeyup="validName()" th:value="${tenSP}">
                                                <br>
                                                <span id="errorName" class="text-danger fw-bold"
                                                      th:if="${errorName}" th:text="${errorName}"
                                                ></span>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="md-3">
                                                <label class="form-label">Thương Hiệu</label>
                                                <select class="form-select mb-3" aria-label=".form-select-lg example"
                                                        id="product-brand-input" th:name="thieu"
                                                        onchange="validBrand()" >
                                                    <option selected value="-1">Open this select menu</option>
                                                    <option value="1" th:selected="${thieu == 1}">Local Brand 1</option>
                                                    <option value="2" th:selected="${thieu == 2}">Local Brand 2</option>
                                                    <option value="3" th:selected="${thieu == 3}">Local Brand 3</option>
                                                </select>
                                                <span id="errorBrand" class="text-danger fw-bold" th:if="${errorBrand}"
                                                      th:text="${errorBrand}"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end row -->

                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label class="form-label">Danh Mục</label>
                                                <select class="form-select mb-3" aria-label=".form-select-lg example"
                                                        th:name="danhMuc" id="product-collections-input"
                                                        onchange="validCollections()">
                                                    <option selected value="-1">Open this select menu</option>
                                                    <option value="0" th:selected="${danhMuc == 0}">Quần</option>
                                                    <option value="1" th:selected="${danhMuc == 1}">Áo</option>
                                                </select>
                                                <span id="errorCollections" class="text-danger fw-bold"
                                                      th:if="${errorCollections}"
                                                      th:text="${errorCollections}"></span>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label class="form-label">Trạng Thái</label>
                                                <div class="form-check mb-3">
                                                    <input class="form-check-input" type="radio" id="radioStatus1"
                                                           value="0" th:name="trangThai" checked
                                                           th:checked="${danhMuc == null or danhMuc == 0}">
                                                    <label class="form-check-label" for="radioStatus1">
                                                        Chưa Mở Bán
                                                    </label>
                                                    <br>
                                                    <input class="form-check-input" type="radio" id="radioStatus2"
                                                           value="1" th:name="trangThai" th:checked="${trangThai == 1}">
                                                    <label class="form-check-label" for="radioStatus2">
                                                        Đang Mở Bán
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--end row-->

                                    <div class="row">
                                        <div class="col-lg-3 col-sm6">
                                            <div class="mb-3">
                                                <label class="form-label">Nhà Cung Cấp</label>
                                                <select class="form-select mb-3" aria-label=".form-select-lg example"
                                                        id="product-provider-input" th:name="ncc"
                                                        onchange="validProvider()">
                                                    <option selected value="-1">Open this select menu</option>
                                                    <option value="1" th:selected="${ncc == 1}">Nhà Cung Cấp A</option>
                                                    <option value="2" th:selected="${ncc == 2}">Nhà Cung Cấp B</option>
                                                    <option value="3" th:selected="${ncc == 3}">Nhà Cung Cấp C</option>
                                                </select>
                                                <span id="errorProvider" class="text-danger fw-bold"
                                                      th:if="${errorProvider}"
                                                      th:text="${errorProvider}"></span>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-sm-6">
                                            <div class="mb-3">
                                                <label class="form-label" for="product-price-input">Giá</label>
                                                <div class="input-group has-validation mb-3">
                                                    <span class="input-group-text" id="product-price-addon">VND</span>
                                                    <input type="text" class="form-control" id="product-price-input"
                                                           placeholder="Nhập Giá" aria-label="Price"
                                                           aria-describedby="product-price-addon" th:name="donGia"
                                                           required onkeyup="validPrice()" th:value="${donGia}">
                                                </div>
                                                <span id="errorPrice" class="text-danger fw-bold" th:if="${errorPrice}"
                                                      th:text="${errorPrice}"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end card -->
                            <div class="text-end mb-3">
                                <button type="button" class="btn btn-success w-sm" onclick="showConfirmPopup()">Submit
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- end row -->
                </form>
            </div>
            <!-- End Page-content -->
        </div>
        <!-- end main content-->
    </div>
    <!-- END layout-wrapper -->
</div>
<div th:replace="admin/fragments/chat::chat"></div>
<div th:replace="admin/fragments/themeSettings::themeSettings"></div>
<div th:replace="admin/fragments/script::script"></div>
</body>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script th:inline="javascript">
    function showConfirmPopup() {
        swal.fire({
            title: "Do you want to save the changes?",
            showDenyButton: true,
            showCancelButton: true,
            confirmButtonText: "Save",
            denyButtonText: `Don't save`
        }).then((result) => {
            if (result.isConfirmed) {
                document.getElementById('createproduct-form').submit();
            }
        });
    }
</script>
<script th:inline="javascript">

    function validPrice() {
        var priceInput = document.getElementById('product-price-input');
        var errorPrice = document.getElementById('errorPrice');

        priceInput.addEventListener('input', function () {
            if (priceInput.value.trim() !== '') {
                errorPrice.style.display = 'none';
            } else {
                errorPrice.style.display = 'block';
            }
        });
    }

    function validName() {
        var nameInput = document.getElementById('product-name-input');
        var errorName = document.getElementById('errorName');

        nameInput.addEventListener('input', function () {
            if (nameInput.value.trim() !== '') {
                errorName.style.display = 'none';
            } else {
                errorName.style.display = 'block';
            }
        });
    }

    function validCollections() {
        var collectionsInput = document.getElementById('product-collections-input');
        var errorCollections = document.getElementById('errorCollections');

        if (collectionsInput.value !== "-1") {
            errorCollections.style.display = 'none';
        } else {
            errorCollections.style.display = 'block';
        }

    }

    function validProvider() {
        var providerInput = document.getElementById('product-provider-input');
        var errorProvider = document.getElementById('errorProvider');

        if (providerInput.value !== "-1") {
            errorProvider.style.display = 'none';
        } else {
            errorProvider.style.display = 'block';
        }
    }

    function validBrand() {
        var brandInput = document.getElementById('product-brand-input');
        var errorBrand = document.getElementById('errorBrand');

        if (brandInput.value !== "-1") {
            errorBrand.style.display = 'none';
        } else {
            errorBrand.style.display = 'block';
        }
    }

</script>
<script th:if="${message == true}">
    swal.fire("Saved!", "", "success");
</script>
</html>