<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" data-layout="vertical" data-topbar="light" data-sidebar="light"
      data-sidebar-size="lg" data-sidebar-image="none" data-preloader="disable" data-body-image="none">
<head th:replace="admin/fragments/head::head"></head>
<body>
<!-- Begin page -->
<div id="layout-wrapper">
    <div th:replace="admin/fragments/header::header"></div>
    <!-- ========== App Menu ========== -->
    <div th:replace="admin/fragments/sidebar::sidebar"></div>
    <!-- Left Sidebar End -->
    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">

        <div class="page-content">
            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                            <h4 class="mb-sm-0">Thêm Sản Phẩm</h4>

                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Sản Phẩm</a></li>
                                    <li class="breadcrumb-item active">Thêm Sản Phẩm</li>
                                </ol>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- end page title -->

                <form id="createproduct-form" autocomplete="off" class="needs-validation" novalidate
                      th:action="@{/api/admin/product/save_product}" method="post" th:object="${product}">
                    <div class="row">
                        <div class="col-xl-12 col-lg-8">
                            <!--                            <div class="card">-->
                            <!--                                <div class="card-header">-->
                            <!--                                    <div class="d-flex">-->
                            <!--                                        <div class="flex-shrink-0 me-3">-->
                            <!--                                            <div class="avatar-sm">-->
                            <!--                                                <div class="avatar-title rounded-circle bg-light text-primary fs-20">-->
                            <!--                                                    <i class="bi bi-box-seam"></i>-->
                            <!--                                                </div>-->
                            <!--                                            </div>-->
                            <!--                                        </div>-->
                            <!--                                        <div class="flex-grow-1">-->
                            <!--                                            <h5 class="card-title mb-1">Product Information</h5>-->
                            <!--                                            <p class="text-muted mb-0">Fill all information below.</p>-->
                            <!--                                        </div>-->
                            <!--                                    </div>-->
                            <!--                                </div>-->
                            <!--                                <div class="card-body">-->
                            <!--                                    <div class="mb-3">-->
                            <!--                                        <label class="form-label" for="product-title-input">Product title</label>-->
                            <!--                                        <input type="hidden" class="form-control" id="formAction" name="formAction"-->
                            <!--                                               value="add">-->
                            <!--                                        <input type="text" class="form-control d-none" id="product-id-input">-->
                            <!--                                        <input type="text" class="form-control" id="product-title-input" value=""-->
                            <!--                                               placeholder="Enter product title" required>-->
                            <!--                                        <div class="invalid-feedback">Please enter a product title.</div>-->
                            <!--                                    </div>-->
                            <!--                                    <div class="mb-3">-->
                            <!--                                        <label class="form-label">Product description</label>-->

                            <!--                                        <div id="ckeditor-classic">-->
                            <!--                                            <p>Tommy Hilfiger men striped pink sweatshirt. Crafted with cotton. Material-->
                            <!--                                                composition is 100% organic cotton. This is one of the world’s leading-->
                            <!--                                                designer lifestyle brands and is internationally recognized for-->
                            <!--                                                celebrating the essence of classic American cool style, featuring preppy-->
                            <!--                                                with a twist designs.</p>-->
                            <!--                                            <ul>-->
                            <!--                                                <li>Full Sleeve</li>-->
                            <!--                                                <li>Cotton</li>-->
                            <!--                                                <li>All Sizes available</li>-->
                            <!--                                                <li>4 Different Color</li>-->
                            <!--                                            </ul>-->
                            <!--                                        </div>-->
                            <!--                                    </div>-->

                            <!--                                    <div>-->
                            <!--                                        <div class="d-flex align-items-start">-->
                            <!--                                            <div class="flex-grow-1">-->
                            <!--                                                <label class="form-label">Product category</label>-->
                            <!--                                            </div>-->
                            <!--                                            <div class="flex-shrink-0">-->
                            <!--                                                <a href="#" class="float-end text-decoration-underline">Add New</a>-->
                            <!--                                            </div>-->
                            <!--                                        </div>-->
                            <!--                                        <div>-->
                            <!--                                            <select class="form-select" id="choices-category-input"-->
                            <!--                                                    name="choices-category-input">-->
                            <!--                                                <option value="">Select product category</option>-->
                            <!--                                                <option value="Appliances">Appliances</option>-->
                            <!--                                                <option value="Automotive Accessories">Automotive Accessories</option>-->
                            <!--                                                <option value="Electronics" selected>Electronics</option>-->
                            <!--                                                <option value="Fashion">Fashion</option>-->
                            <!--                                                <option value="Furniture">Furniture</option>-->
                            <!--                                                <option value="Grocery">Grocery</option>-->
                            <!--                                                <option value="Kids">Kids</option>-->
                            <!--                                                <option value="Watches">Watches</option>-->
                            <!--                                            </select>-->
                            <!--                                        </div>-->
                            <!--                                        <div class="error-msg mt-1">Please select a product category.</div>-->
                            <!--                                    </div>-->
                            <!--                                </div>-->
                            <!--                            </div>-->
                            <!-- end card -->

                            <!--                            <div class="card">-->
                            <!--                                <div class="card-header">-->
                            <!--                                    <div class="d-flex">-->
                            <!--                                        <div class="flex-shrink-0 me-3">-->
                            <!--                                            <div class="avatar-sm">-->
                            <!--                                                <div class="avatar-title rounded-circle bg-light text-primary fs-20">-->
                            <!--                                                    <i class="bi bi-images"></i>-->
                            <!--                                                </div>-->
                            <!--                                            </div>-->
                            <!--                                        </div>-->
                            <!--                                        <div class="flex-grow-1">-->
                            <!--                                            <h5 class="card-title mb-1">Product Gallery</h5>-->
                            <!--                                            <p class="text-muted mb-0">Add product gallery images.</p>-->
                            <!--                                        </div>-->
                            <!--                                    </div>-->
                            <!--                                </div>-->
                            <!--                                <div class="card-body">-->
                            <!--                                    <div class="dropzone my-dropzone">-->
                            <!--                                        <div class="dz-message">-->
                            <!--                                            <div class="mb-3">-->
                            <!--                                                <i class="display-4 text-muted ri-upload-cloud-2-fill"></i>-->
                            <!--                                            </div>-->

                            <!--                                            <h5>Drop files here or click to upload.</h5>-->
                            <!--                                        </div>-->
                            <!--                                    </div>-->
                            <!--                                    <div class="error-msg mt-1">Please add a product images.</div>-->
                            <!--                                </div>-->
                            <!--                            </div>-->
                            <!-- end card -->

                            <div class="card">
                                <div class="card-header">
                                    <div class="d-flex">
                                        <div class="flex-shrink-0 me-3">
                                            <div class="avatar-sm">
                                                <div class="avatar-title rounded-circle bg-light text-primary fs-20">
                                                    <i class="bi bi-list-ul"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="flex-grow-1">
                                            <h5 class="card-title mb-1">General Information</h5>
                                            <p class="text-muted mb-0">Fill all information below.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="row ">
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label class="form-label" for="product-name-input">Tên Sản Phẩm</label>
                                                <input type="text" class="form-control" id="product-name-input"
                                                       placeholder="Nhập Tên Sản Phẩm" th:name="tenSP"
                                                       onkeyup="validName()">
                                                <br>
                                                <span id="errorName" class="text-danger fw-bold" th:if="${errorName}"
                                                      th:text="${errorName}"></span>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="md-3">
                                                <label class="form-label">Thương Hiệu</label>
                                                <select class="form-select mb-3" aria-label=".form-select-lg example"
                                                        id="product-brand-input" th:name="thieu"
                                                        onchange="validBrand()">
                                                    <option selected value="-1">Open this select menu</option>
                                                    <option value="1">Local Brand 1</option>
                                                    <option value="2">Local Brand 2</option>
                                                    <option value="3">Local Brand 3</option>
                                                </select>
                                                <span id="errorBrand" class="text-danger fw-bold" th:if="${errorBrand}"
                                                      th:text="${errorBrand}"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end row -->

                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label class="form-label">Danh Mục</label>
                                                <select class="form-select mb-3" aria-label=".form-select-lg example"
                                                        th:name="danhMuc" id="product-collections-input"
                                                        onchange="validCollections()">
                                                    <option selected value="-1">Open this select menu</option>
                                                    <option value="0">Quần</option>
                                                    <option value="1">Áo</option>
                                                </select>
                                                <span id="errorCollections" class="text-danger fw-bold"
                                                      th:if="${errorCollections}"
                                                      th:text="${errorCollections}"></span>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label class="form-label">Trạng Thái</label>
                                                <div class="form-check mb-3">
                                                    <input class="form-check-input" type="radio" id="radioStatus1"
                                                           value="0" th:name="trangThai" checked>
                                                    <label class="form-check-label" for="radioStatus1">
                                                        Chưa Mở Bán
                                                    </label>
                                                    <br>
                                                    <input class="form-check-input" type="radio" id="radioStatus2"
                                                           value="1" th:name="trangThai">
                                                    <label class="form-check-label" for="radioStatus2">
                                                        Đang Mở Bán
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--end row-->

                                    <div class="row">
                                        <div class="col-lg-3 col-sm6">
                                            <div class="mb-3">
                                                <label class="form-label">Nhà Cung Cấp</label>
                                                <select class="form-select mb-3" aria-label=".form-select-lg example"
                                                        id="product-provider-input" th:name="ncc"
                                                        onchange="validProvider()">
                                                    <option selected value="-1">Open this select menu</option>
                                                    <option value="1">Nhà Cung Cấp A</option>
                                                    <option value="2">Nhà Cung Cấp B</option>
                                                    <option value="3">Nhà Cung Cấp C</option>
                                                </select>
                                                <span id="errorProvider" class="text-danger fw-bold"
                                                      th:if="${errorProvider}"
                                                      th:text="${errorProvider}"></span>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-sm-6">
                                            <div class="mb-3">
                                                <label class="form-label" for="product-price-input">Giá</label>
                                                <div class="input-group has-validation mb-3">
                                                    <span class="input-group-text" id="product-price-addon">VND</span>
                                                    <input type="text" class="form-control" id="product-price-input"
                                                           placeholder="Nhập Giá" aria-label="Price"
                                                           aria-describedby="product-price-addon" th:name="donGia"
                                                           required onkeyup="validPrice()">
                                                </div>
                                                <span id="errorPrice" class="text-danger fw-bold" th:if="${errorPrice}"
                                                      th:text="${errorPrice}"></span>
                                            </div>
                                        </div>
                                        <!--                                        <div class="col-lg-3 col-sm-6">-->
                                        <!--                                            <div class="mb-3">-->
                                        <!--                                                <label class="form-label" for="product-discount-input">Discount</label>-->
                                        <!--                                                <div class="input-group has-validation mb-3">-->
                                        <!--                                                    <span class="input-group-text" id="product-discount-addon">%</span>-->
                                        <!--                                                    <input type="text" class="form-control" id="product-discount-input"-->
                                        <!--                                                           placeholder="Enter discount" aria-label="discount"-->
                                        <!--                                                           aria-describedby="product-discount-addon" required>-->
                                        <!--                                                </div>-->

                                        <!--                                            </div>-->
                                        <!--                                        </div>-->
                                        <!--                                        <div class="col-lg-3 col-sm-6">-->
                                        <!--                                            <div class="mb-3">-->
                                        <!--                                                <label class="form-label" for="orders-input">Orders</label>-->
                                        <!--                                                <input type="text" class="form-control" id="orders-input"-->
                                        <!--                                                       placeholder="Orders" required>-->
                                        <!--                                            </div>-->
                                        <!--                                        </div>-->
                                        <!-- end col -->
                                    </div>
                                    <!-- end row -->

                                    <!--                                    <div class="row">-->
                                    <!--                                        <div class="col-lg-6">-->
                                    <!--                                            <div>-->
                                    <!--                                                <label class="form-label">Colors</label>-->
                                    <!--                                                <ul class="clothe-colors list-unstyled hstack gap-2 mb-0 flex-wrap">-->
                                    <!--                                                    <li>-->
                                    <!--                                                        <input type="checkbox" value="success" id="color-1">-->
                                    <!--                                                        <label class="avatar-xs btn btn-success p-0 d-flex align-items-center justify-content-center rounded-circle"-->
                                    <!--                                                               for="color-1"></label>-->
                                    <!--                                                    </li>-->
                                    <!--                                                    <li>-->
                                    <!--                                                        <input type="checkbox" value="info" id="color-2">-->
                                    <!--                                                        <label class="avatar-xs btn btn-info p-0 d-flex align-items-center justify-content-center rounded-circle"-->
                                    <!--                                                               for="color-2"></label>-->
                                    <!--                                                    </li>-->
                                    <!--                                                    <li>-->
                                    <!--                                                        <input type="checkbox" value="warning" id="color-3">-->
                                    <!--                                                        <label class="avatar-xs btn btn-warning p-0 d-flex align-items-center justify-content-center rounded-circle"-->
                                    <!--                                                               for="color-3"></label>-->
                                    <!--                                                    </li>-->
                                    <!--                                                    <li>-->
                                    <!--                                                        <input type="checkbox" value="danger" id="color-4">-->
                                    <!--                                                        <label class="avatar-xs btn btn-danger p-0 d-flex align-items-center justify-content-center rounded-circle"-->
                                    <!--                                                               for="color-4"></label>-->
                                    <!--                                                    </li>-->
                                    <!--                                                    <li>-->
                                    <!--                                                        <input type="checkbox" value="primary" id="color-5">-->
                                    <!--                                                        <label class="avatar-xs btn btn-primary p-0 d-flex align-items-center justify-content-center rounded-circle"-->
                                    <!--                                                               for="color-5"></label>-->
                                    <!--                                                    </li>-->
                                    <!--                                                    <li>-->
                                    <!--                                                        <input type="checkbox" value="secondary" id="color-6">-->
                                    <!--                                                        <label class="avatar-xs btn btn-secondary p-0 d-flex align-items-center justify-content-center rounded-circle"-->
                                    <!--                                                               for="color-6"></label>-->
                                    <!--                                                    </li>-->
                                    <!--                                                    <li>-->
                                    <!--                                                        <input type="checkbox" value="dark" id="color-7">-->
                                    <!--                                                        <label class="avatar-xs btn btn-dark p-0 d-flex align-items-center justify-content-center rounded-circle"-->
                                    <!--                                                               for="color-7"></label>-->
                                    <!--                                                    </li>-->
                                    <!--                                                    <li>-->
                                    <!--                                                        <input type="checkbox" value="light" id="color-8">-->
                                    <!--                                                        <label class="avatar-xs btn btn-light p-0 d-flex align-items-center justify-content-center rounded-circle"-->
                                    <!--                                                               for="color-8"></label>-->
                                    <!--                                                    </li>-->
                                    <!--                                                </ul>-->
                                    <!--                                                <div class="error-msg mt-1">Please select a product colors.</div>-->
                                    <!--                                            </div>-->
                                    <!--                                        </div>-->
                                    <!--                                        <div class="col-lg-6">-->
                                    <!--                                            <div class="mt-3 mt-lg-0">-->
                                    <!--                                                <label class="form-label">Sizes</label>-->
                                    <!--                                                <ul class="clothe-size list-unstyled hstack gap-2 mb-0 flex-wrap"-->
                                    <!--                                                    id="size-filter">-->
                                    <!--                                                    <li>-->
                                    <!--                                                        <input type="checkbox" value="xs" id="sizeXs">-->
                                    <!--                                                        <label class="avatar-xs btn btn-soft-primary p-0 d-flex align-items-center justify-content-center rounded-circle"-->
                                    <!--                                                               for="sizeXs">XS</label>-->
                                    <!--                                                    </li>-->
                                    <!--                                                    <li>-->
                                    <!--                                                        <input type="checkbox" value="s" id="sizeS">-->
                                    <!--                                                        <label class="avatar-xs btn btn-soft-primary p-0 d-flex align-items-center justify-content-center rounded-circle"-->
                                    <!--                                                               for="sizeS">S</label>-->
                                    <!--                                                    </li>-->
                                    <!--                                                    <li>-->
                                    <!--                                                        <input type="checkbox" value="m" id="sizeM">-->
                                    <!--                                                        <label class="avatar-xs btn btn-soft-primary p-0 d-flex align-items-center justify-content-center rounded-circle"-->
                                    <!--                                                               for="sizeM">M</label>-->
                                    <!--                                                    </li>-->
                                    <!--                                                    <li>-->
                                    <!--                                                        <input type="checkbox" value="l" id="sizeL">-->
                                    <!--                                                        <label class="avatar-xs btn btn-soft-primary p-0 d-flex align-items-center justify-content-center rounded-circle"-->
                                    <!--                                                               for="sizeL">L</label>-->
                                    <!--                                                    </li>-->
                                    <!--                                                    <li>-->
                                    <!--                                                        <input type="checkbox" value="xl" id="sizeXl">-->
                                    <!--                                                        <label class="avatar-xs btn btn-soft-primary p-0 d-flex align-items-center justify-content-center rounded-circle"-->
                                    <!--                                                               for="sizeXl">XL</label>-->
                                    <!--                                                    </li>-->
                                    <!--                                                    <li>-->
                                    <!--                                                        <input type="checkbox" value="2xl" id="size2xl">-->
                                    <!--                                                        <label class="avatar-xs btn btn-soft-primary p-0 d-flex align-items-center justify-content-center rounded-circle"-->
                                    <!--                                                               for="size2xl">2XL</label>-->
                                    <!--                                                    </li>-->
                                    <!--                                                    <li>-->
                                    <!--                                                        <input type="checkbox" value="3xl" id="size3xl">-->
                                    <!--                                                        <label class="avatar-xs btn btn-soft-primary p-0 d-flex align-items-center justify-content-center rounded-circle"-->
                                    <!--                                                               for="size3xl">3XL</label>-->
                                    <!--                                                    </li>-->
                                    <!--                                                    <li>-->
                                    <!--                                                        <input type="checkbox" value="40" id="size40">-->
                                    <!--                                                        <label class="avatar-xs btn btn-soft-primary p-0 d-flex align-items-center justify-content-center rounded-circle"-->
                                    <!--                                                               for="size40">40</label>-->
                                    <!--                                                    </li>-->
                                    <!--                                                    <li>-->
                                    <!--                                                        <input type="checkbox" value="41" id="size41">-->
                                    <!--                                                        <label class="avatar-xs btn btn-soft-primary p-0 d-flex align-items-center justify-content-center rounded-circle"-->
                                    <!--                                                               for="size41">41</label>-->
                                    <!--                                                    </li>-->
                                    <!--                                                    <li>-->
                                    <!--                                                        <input type="checkbox" value="42" id="size42">-->
                                    <!--                                                        <label class="avatar-xs btn btn-soft-primary p-0 d-flex align-items-center justify-content-center rounded-circle"-->
                                    <!--                                                               for="size42">42</label>-->
                                    <!--                                                    </li>-->
                                    <!--                                                </ul>-->
                                    <!--                                                <div class="error-msg mt-1">Please select a product sizes.</div>-->
                                    <!--                                            </div>-->
                                    <!--                                        </div>-->
                                    <!--                                    </div>-->
                                </div>
                            </div>
                            <!-- end card -->
                            <div class="text-end mb-3">
                                <button type="button" class="btn btn-success w-sm" onclick="showConfirmPopup()">Submit
                                </button>
                            </div>
                        </div>
                        <!-- end col -->

                        <!--                        <div class="col-xl-3 col-lg-4">-->
                        <!--                            <div class="card">-->
                        <!--                                <div class="card-header">-->
                        <!--                                    <h5 class="card-title mb-0">Publish</h5>-->
                        <!--                                </div>-->
                        <!--                                <div class="card-body">-->
                        <!--                                    <div class="mb-3">-->
                        <!--                                        <label for="choices-publish-status-input" class="form-label">Status</label>-->

                        <!--                                        <select class="form-select" id="choices-publish-status-input" data-choices-->
                        <!--                                                data-choices-search-false>-->
                        <!--                                            <option value="Published" selected>Published</option>-->
                        <!--                                            <option value="Scheduled">Scheduled</option>-->
                        <!--                                            <option value="Draft">Draft</option>-->
                        <!--                                        </select>-->
                        <!--                                    </div>-->

                        <!--                                    <div>-->
                        <!--                                        <label for="choices-publish-visibility-input"-->
                        <!--                                               class="form-label">Visibility</label>-->
                        <!--                                        <select class="form-select" id="choices-publish-visibility-input" data-choices-->
                        <!--                                                data-choices-search-false>-->
                        <!--                                            <option value="Public" selected>Public</option>-->
                        <!--                                            <option value="Hidden">Hidden</option>-->
                        <!--                                        </select>-->
                        <!--                                    </div>-->
                        <!--                                </div>-->
                        <!--                                &lt;!&ndash; end card body &ndash;&gt;-->
                        <!--                            </div>-->
                        <!--                            &lt;!&ndash; end card &ndash;&gt;-->

                        <!--                            <div class="card">-->
                        <!--                                <div class="card-header">-->
                        <!--                                    <h5 class="card-title mb-0">Publish Schedule</h5>-->
                        <!--                                </div>-->
                        <!--                                &lt;!&ndash; end card body &ndash;&gt;-->
                        <!--                                <div class="card-body">-->
                        <!--                                    <div>-->
                        <!--                                        <label for="datepicker-publish-input" class="form-label">Publish Date &-->
                        <!--                                            Time</label>-->
                        <!--                                        <input type="text" id="datepicker-publish-input" class="form-control"-->
                        <!--                                               placeholder="Enter publish date" data-provider="flatpickr"-->
                        <!--                                               data-date-format="d.m.y" data-enable-time>-->
                        <!--                                    </div>-->
                        <!--                                </div>-->
                        <!--                            </div>-->
                        <!--                            &lt;!&ndash; end card &ndash;&gt;-->


                        <!--                            <div class="card">-->
                        <!--                                <div class="card-header">-->
                        <!--                                    <h5 class="card-title mb-0">Product Tags</h5>-->
                        <!--                                </div>-->
                        <!--                                <div class="card-body">-->
                        <!--                                    <div class="hstack gap-3 align-items-start">-->
                        <!--                                        <div class="flex-grow-1">-->
                        <!--                                            <input class="form-control" data-choices data-choices-multiple-remove="true"-->
                        <!--                                                   placeholder="Enter tags" type="text" value="Cotton">-->
                        <!--                                        </div>-->
                        <!--                                    </div>-->
                        <!--                                </div>-->
                        <!--                                &lt;!&ndash; end card body &ndash;&gt;-->
                        <!--                            </div>-->
                        <!--                            &lt;!&ndash; end card &ndash;&gt;-->

                        <!--                            <div class="card">-->
                        <!--                                <div class="card-header">-->
                        <!--                                    <h5 class="card-title mb-0">Product Short Description</h5>-->
                        <!--                                </div>-->
                        <!--                                <div class="card-body">-->
                        <!--                                    <p class="text-muted mb-2">Add short description for product</p>-->
                        <!--                                    <textarea class="form-control" placeholder="Must enter minimum of a 100 characters"-->
                        <!--                                              rows="3"></textarea>-->
                        <!--                                </div>-->
                        <!--                                &lt;!&ndash; end card body &ndash;&gt;-->
                        <!--                            </div>-->
                        <!--                            &lt;!&ndash; end card &ndash;&gt;-->

                        <!--                        </div>-->
                        <!-- end col -->
                    </div>
                    <!-- end row -->
                </form>
            </div>
            <!-- End Page-content -->
        </div>
        <!-- end main content-->
    </div>
    <!-- END layout-wrapper -->
</div>
<div th:replace="admin/fragments/chat::chat"></div>
<div th:replace="admin/fragments/themeSettings::themeSettings"></div>
<div th:replace="admin/fragments/script::script"></div>
</body>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script th:inline="javascript">
    function showConfirmPopup() {
        swal.fire({
            title: "Do you want to save the changes?",
            showDenyButton: true,
            showCancelButton: true,
            confirmButtonText: "Save",
            denyButtonText: `Don't save`
        }).then((result) => {
            if (result.isConfirmed) {
                document.getElementById('createproduct-form').submit();
            }
            // else if (result.isDenied) {
            //     // swal.fire("Changes are not saved", "", "info");
            // }
        });
    }
</script>
<script th:inline="javascript">

    function validPrice() {
        var priceInput = document.getElementById('product-price-input');
        var errorPrice = document.getElementById('errorPrice');

        priceInput.addEventListener('input', function () {
            if (priceInput.value.trim() !== '') {
                errorPrice.style.display = 'none';
            } else {
                errorPrice.style.display = 'block';
            }
        });
    }

    function validName() {
        var nameInput = document.getElementById('product-name-input');
        var errorName = document.getElementById('errorName');

        nameInput.addEventListener('input', function () {
            if (nameInput.value.trim() !== '') {
                errorName.style.display = 'none';
            } else {
                errorName.style.display = 'block';
            }
        });
    }

    function validCollections() {
        var collectionsInput = document.getElementById('product-collections-input');
        var errorCollections = document.getElementById('errorCollections');

        if (collectionsInput.value !== "-1") {
            errorCollections.style.display = 'none';
        } else {
            errorCollections.style.display = 'block';
        }

    }

    function validProvider() {
        var providerInput = document.getElementById('product-provider-input');
        var errorProvider = document.getElementById('errorProvider');

        if (providerInput.value !== "-1") {
            errorProvider.style.display = 'none';
        } else {
            errorProvider.style.display = 'block';
        }
    }

    function validBrand() {
        var brandInput = document.getElementById('product-brand-input');
        var errorBrand = document.getElementById('errorBrand');

        if (brandInput.value !== "-1") {
            errorBrand.style.display = 'none';
        } else {
            errorBrand.style.display = 'block';
        }

    }

</script>
<script th:if="${message == true}">
    swal.fire("Saved!", "", "success");
</script>
</html>