<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" data-bs-theme="light" data-footer="dark">
<head th:replace="client/fragments/head::head"></head>
<body>
<div th:replace="client/fragments/header::header"></div>

<!-- Modal -->
<div class="modal fade" id="searchModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content rounded">
            <div class="modal-header p-3">
                <div class="position-relative w-100">
                    <input type="text" class="form-control form-control-lg border-2" placeholder="Search for Toner..."
                           autocomplete="off" id="search-options" value="">
                    <span class="bi bi-search search-widget-icon fs-17"></span>
                    <a href="javascript:void(0);"
                       class="search-widget-icon fs-14 link-secondary text-decoration-underline search-widget-icon-close d-none"
                       id="search-close-options">Clear</a>
                </div>
            </div>
            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0 overflow-hidden" id="search-dropdown">

                <div class="dropdown-head rounded-top">
                    <div class="p-3">
                        <div class="row align-items-center">
                            <div class="col">
                                <h6 class="m-0 fs-14 text-muted fw-semibold"> RECENT SEARCHES </h6>
                            </div>
                        </div>
                    </div>

                    <div class="dropdown-item bg-transparent text-wrap">
                        <a href="index.html" class="btn btn-soft-secondary btn-sm btn-rounded">how to setup <i
                                class="mdi mdi-magnify ms-1 align-middle"></i></a>
                        <a href="index.html" class="btn btn-soft-secondary btn-sm btn-rounded">buttons <i
                                class="mdi mdi-magnify ms-1 align-middle"></i></a>
                    </div>
                </div>

                <div data-simplebar style="max-height: 300px;" class="pe-2 ps-3 my-3">
                    <div class="list-group list-group-flush border-dashed">
                        <div class="notification-group-list">
                            <h5 class="text-overflow text-muted fs-13 mb-2 mt-3 text-uppercase notification-title">Apps
                                Pages</h5>
                            <a href="javascript:void(0);" class="list-group-item dropdown-item notify-item"><i
                                    class="bi bi-speedometer2 me-2"></i> <span>Analytics Dashboard</span></a>
                            <a href="javascript:void(0);" class="list-group-item dropdown-item notify-item"><i
                                    class="bi bi-filetype-psd me-2"></i> <span>Toner.psd</span></a>
                            <a href="javascript:void(0);" class="list-group-item dropdown-item notify-item"><i
                                    class="bi bi-ticket-detailed me-2"></i> <span>Support Tickets</span></a>
                            <a href="javascript:void(0);" class="list-group-item dropdown-item notify-item"><i
                                    class="bi bi-file-earmark-zip me-2"></i> <span>Toner.zip</span></a>
                        </div>

                        <div class="notification-group-list">
                            <h5 class="text-overflow text-muted fs-13 mb-2 mt-3 text-uppercase notification-title">
                                Links</h5>
                            <a href="javascript:void(0);" class="list-group-item dropdown-item notify-item"><i
                                    class="bi bi-link-45deg me-2 align-middle"></i> <span>www.themesbrand.com</span></a>
                        </div>

                        <div class="notification-group-list">
                            <h5 class="text-overflow text-muted fs-13 mb-2 mt-3 text-uppercase notification-title">
                                People</h5>
                            <a href="javascript:void(0);" class="list-group-item dropdown-item notify-item">
                                <div class="d-flex align-items-center">
                                    <img src="../assets/images/users/avatar-1.jpg" alt=""
                                         class="avatar-xs rounded-circle flex-shrink-0 me-2">
                                    <div>
                                        <h6 class="mb-0">Ayaan Bowen</h6>
                                        <span class="fs-12 text-muted">React Developer</span>
                                    </div>
                                </div>
                            </a>
                            <a href="javascript:void(0);" class="list-group-item dropdown-item notify-item">
                                <div class="d-flex align-items-center">
                                    <img src="../assets/images/users/avatar-7.jpg" alt=""
                                         class="avatar-xs rounded-circle flex-shrink-0 me-2">
                                    <div>
                                        <h6 class="mb-0">Alexander Kristi</h6>
                                        <span class="fs-12 text-muted">React Developer</span>
                                    </div>
                                </div>
                            </a>
                            <a href="javascript:void(0);" class="list-group-item dropdown-item notify-item">
                                <div class="d-flex align-items-center">
                                    <img src="../assets/images/users/avatar-5.jpg" alt=""
                                         class="avatar-xs rounded-circle flex-shrink-0 me-2">
                                    <div>
                                        <h6 class="mb-0">Alan Carla</h6>
                                        <span class="fs-12 text-muted">React Developer</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- removeItemModal -->
<div id="removeItemModal" class="modal fade zoomIn" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                        id="close-modal"></button>
            </div>
            <div class="modal-body">
                <div class="mt-2 text-center">
                    <lord-icon src="https://cdn.lordicon.com/gsqxdxog.json" trigger="loop"
                               colors="primary:#f7b84b,secondary:#f06548" style="width:100px;height:100px"></lord-icon>
                    <div class="mt-4 pt-2 fs-15 mx-4 mx-sm-5">
                        <h4>Are you sure ?</h4>
                        <p class="text-muted mx-4 mb-0">Are you sure you want to remove this product ?</p>
                    </div>
                </div>
                <div class="d-flex gap-2 justify-content-center mt-4 mb-2">
                    <button type="button" class="btn w-sm btn-light" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn w-sm btn-danger" id="remove-product">Yes, Delete It!</button>
                </div>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- end modal -->
<div th:replace="client/fragments/chat::chat"></div>
<section class="ecommerce-about"
         style="background-image: url('../assets/images/profile-bg.jpg'); background-size: cover;background-position: center;">
    <div class="bg-overlay bg-primary" style="opacity: 0.85;"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="text-center">
                    <h1 class="text-white mb-0">Product Details</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb breadcrumb-light justify-content-center mt-4">
                            <li class="breadcrumb-item"><a href="#">Product</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Product Details</li>
                        </ol>
                    </nav>
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
</section>

<section class="section" id="productDetails">
    <div class="container">
        <div class="row gx-2">
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-md-2">
                        <div thumbsSlider="" class="swiper productSwiper mb-3 mb-lg-0">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="product-thumb rounded cursor-pointer">
                                        <img src="../assets/images/products/img-31.png" alt="" class="img-fluid"/>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="product-thumb rounded cursor-pointer">
                                        <img src="../assets/images/products/img-33.png" alt="" class="img-fluid"/>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="product-thumb rounded cursor-pointer">
                                        <img src="../assets/images/products/img-32.png" alt="" class="img-fluid"/>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="product-thumb rounded cursor-pointer">
                                        <img src="../assets/images/products/img-34.png" alt="" class="img-fluid"/>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="product-thumb rounded cursor-pointer">
                                        <img src="../assets/images/products/img-34.png" class="img-fluid"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--end col-->
                    <div class="col-md-10">
                        <div class="bg-light rounded-2 position-relative ribbon-box overflow-hidden">
                            <div class="ribbon ribbon-danger ribbon-shape trending-ribbon">
                                <span class="trending-ribbon-text">Trending</span> <i
                                    class="ri-flashlight-fill text-white align-bottom float-end ms-1"></i>
                            </div>
                            <div class="swiper productSwiper2">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide ">
                                        <img src="../assets/images/products/img-31.png" alt="" class="img-fluid"/>
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="../assets/images/products/img-33.png" alt="" class="img-fluid"/>
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="../assets/images/products/img-32.png" alt="" class="img-fluid"/>
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="../assets/images/products/img-34.png" alt="" class="img-fluid"/>
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="../assets/images/products/img-34.png" alt="" class="img-fluid"/>
                                    </div>
                                </div>
                                <div class="swiper-button-next bg-transparent"></div>
                                <div class="swiper-button-prev bg-transparent"></div>
                            </div>
                        </div>
                    </div><!--end col-->
                    <div class="col-lg-12">
                        <div class="mt-3">
                            <div class="hstack gap-2">
                                <button type="button" class="btn btn-success btn-hover w-100"><i
                                        class="bi bi-bag align-baseline me-1"></i>Buy Now
                                </button>
                                <button type="button" class="btn btn-primary btn-hover w-100" onclick="AddToCart()"><i
                                        class="bi bi-cart2 me-2"></i>Add To Cart
                                </button>
                            </div>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end col-->
            <div class="col-lg-5 ms-auto">
                <div class="ecommerce-product-widgets mt-4 mt-lg-0">
                    <div class="mb-4">
                        <!-- Nội dung sản phẩm -->
                        <!-- Hidden-->
                        <input type="hidden" id="productId" th:value="${sanPham.id}">
                        <!-- Hidden-->
                        <h4 class="lh-base mb-1" th:text="${sanPham.tenSP}"></h4>
                        <h5 class="fs-24 mb-4 text-secondary" th:text="${#numbers.formatCurrency(sanPham.donGia)}"></h5>
                    </div>
                    <div class="d-flex align-items-center mb-4">
                        <div class="col-md-12 row">
                            <h6 class="fs-14 fw-medium text-muted">Số lượng: <span
                                    class="fs-14 fw-medium text-muted" id="Find-Quantity"></span></h6>
                        </div>
                    </div>
                    <div class="d-flex align-items-center mb-4">
                        <div class="col-md-12">
                            <h6 class="fs-14 fw-medium text-muted">Màu sắc: </h6>
                            <ul class="clothe-colors list-unstyled hstack gap-1 mb-0 flex-wrap" id="Find-Color"></ul>
                        </div>
                    </div>
                    <div class="d-flex align-items-center mb-4">
                        <div class="col-md-12">
                            <div>
                                <h6 class="fs-14 fw-medium text-muted">Sizes:</h6>
                                <ul class="clothe-size list-unstyled hstack gap-1 mb-0 flex-wrap" id="Find-Size"></ul>
                            </div>
                        </div>
                    </div>
                    <div class="gy-3 d-flex align-items-center mb-4" id="input-step-quantity">
                        <h5 class="fs-15 mb-0">Số lượng mua:</h5>
                        <div class="input-step ms-2">
                            <button type="button" class="minus" id="minus" disabled>–</button>
                            <input type="number" class="cart-quantity" disabled onchange="inputQuantity()"
                                   id="cart-quantity"
                                   value="1"
                                   min="" max="">
                            <button type="button" class="plus" id="plus" disabled>+</button>
                        </div>
                    </div>
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
</section>

<section class="section pt-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="nav nav-tabs nav-tabs-custom mb-3" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-bs-toggle="tab" href="#home1" role="tab">
                            Description
                        </a>
                    </li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content text-muted">
                    <div class="tab-pane active" id="home1" role="tabpanel">
                        <table class="table table-sm table-borderless align-middle">
                            <tr>
                                <th>Type</th>
                                <td>Round Neck</td>
                            </tr>
                            <tr>
                                <th>Sleeve</th>
                                <td>Short Sleeve</td>
                            </tr>
                            <tr>
                                <th>Fit</th>
                                <td>Regular</td>
                            </tr>
                            <tr>
                                <th>Sales Package</th>
                                <td>1 T shirt</td>
                            </tr>
                            <tr>
                                <th>Pack of</th>
                                <td>1</td>
                            </tr>
                            <tr>
                                <th>Style Code</th>
                                <td>HYP02</td>
                            </tr>
                            <tr>
                                <th>Neck Type</th>
                                <td>Round Neck</td>
                            </tr>
                            <tr>
                                <th>Ideal For</th>
                                <td>Men</td>
                            </tr>
                            <tr>
                                <th>Size</th>
                                <td>L</td>
                            </tr>
                            <tr>
                                <th>Pattern</th>
                                <td>Solid</td>
                            </tr>
                            <tr>
                                <th>Suitable For</th>
                                <td>Western Wear</td>
                            </tr>
                            <tr>
                                <th>Fabric Care</th>
                                <td>Do not bleach</td>
                            </tr>
                            <tr>
                                <th>Seller</th>
                                <td>Zibra Fashion</td>
                            </tr>
                            <tr>
                                <th>Color</th>
                                <td>
                                    <div class="avatar-xs">
                                        <div class="avatar-title rounded"></div>
                                    </div>
                                </td>
                            </tr>
                        </table>

                        <p class="text-muted fs-15">Clothing serves many purposes: it can serve as protection from the
                            elements, rough surfaces, sharp stones, rash-causing plants, insect bites, by providing a
                            barrier between the skin and the environment. It is worth noting that a man's style goes
                            beyond his outward appearance. Style is about more than the clothes you wear. It's who you
                            are on the inside and how you present yourself to the outside world. It's having
                            appreciation and cultivating gratitude.</p>
                    </div>
                </div>
            </div>
            <!--end col-->
        </div>
        <!--end row-->
    </div>
</section>
<div th:replace="client/fragments/footer::footer"></div>
<div th:replace="client/fragments/script::script"></div>
<script th:src="@{/assets/js/frontend/product-details.init.js}"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment.min.js"></script>
<script>
    const Toast = swal.mixin({
        toast: true,
        position: "top-end",
        iconColor: "white",
        customClass: {
            popup: "colored-toast",
        },
        showConfirmButton: false,
        timer: 1500,
        timerProgressBar: true,
    });
    var selectedProductDetailId;
    var selectedProductDetailColor;
    var selectedProductDetailSize;
    var totalQuantity;
    var quantityAddToCart = 1;
    window.onload = function () {
        loadProductDetails();
    }

    function loadProductDetails() {
        // Lấy id sản phẩm từ phần tử HTML sử dụng Thymeleaf
        var productIdInput = document.getElementById("productId");
        if (productIdInput) {
            var productId = productIdInput.value;
            // Gọi hàm tải màu sắc và kích thước với id sản phẩm đã lấy được
            loadColor(parseInt(productId));
            loadSize(parseInt(productId));
            loadQuantity(parseInt(productId));
        }
    }

    async function loadColor(productId) {
        var color = '';
        var labelColor = '';
        var cssStyle = '';
        var urlDetailPD = '/api/client/product_detail/detailPD/' + productId;
        const responseDetailPD = await fetch(urlDetailPD, {
            method: 'GET'
        });
        const data = await responseDetailPD.json();
        let resultDetailColor = data.filter((product, index, self) =>
            index === self.findIndex((p) => (
                p.ms.id === product.ms.id
            ))
        );
        // Sort colors based on ms.id
        resultDetailColor.sort((a, b) => a.ms.id - b.ms.id);
        for (let i = 0; i < resultDetailColor.length; i++) {
            if (productId === resultDetailColor[i].sp.id) {
                if (resultDetailColor[i].ms.id === 1) {
                    labelColor = "btn-dark";
                    cssStyle = "";
                } else if (resultDetailColor[i].ms.id === 2) {
                    cssStyle = "";
                    labelColor = "btn-light";
                } else if (resultDetailColor[i].ms.id === 3) {
                    cssStyle = "";
                    labelColor = "btn-danger";
                } else if (resultDetailColor[i].ms.id === 4) {
                    labelColor = "btn-secondary";
                    cssStyle = "style=\"background-color: rgb(169,169,169); border: none;\"";
                } else if (resultDetailColor[i].ms.id === 5) {
                    cssStyle = "";
                    labelColor = "btn-success";
                } else if (resultDetailColor[i].ms.id === 6) {
                    cssStyle = "";
                    labelColor = "btn-secondary";
                } else if (resultDetailColor[i].ms.id === 7) {
                    cssStyle = "";
                    labelColor = "btn-primary";
                } else {
                    cssStyle = "";
                    labelColor = "btn-warning";
                }
                color += `<li><input onclick="chooseProductColor(${productId})" type="radio" name="colors" id="product-color-${resultDetailColor[i].ms.id}">
                          <label class="avatar-xs btn ${labelColor} p-0 d-flex align-items-center justify-content-center rounded-circle" ${cssStyle} for="product-color-${resultDetailColor[i].ms.id}" ></label></li>`;
            }
        }
        document.getElementById("Find-Color").innerHTML = color;
    }

    async function loadSize(productId) {
        var urlDetailPD = '/api/client/product_detail/detailPD/' + productId;
        const responseDetailPD = await fetch(urlDetailPD, {
            method: 'GET'
        });
        const data = await responseDetailPD.json();
        var size = '';
        let resultDetailSize = data.filter((product, index, self) =>
            index === self.findIndex((p) => (
                p.size === product.size
            ))
        );
        // Sort sizes based on size
        resultDetailSize.sort((a, b) => a.size.localeCompare(b.size));
        for (let i = 0; i < resultDetailSize.length; i++) {
            if (productId === resultDetailSize[i].sp.id) {
                size += `<li id="li-size-${resultDetailSize[i].size}"><input onclick="chooseProductSize(${productId})" disabled type="radio" name="sizes" id="product-size-${resultDetailSize[i].size}">
                         <label class="avatar-xs btn btn-soft-primary text-uppercase p-0 fs-12 d-flex align-items-center justify-content-center rounded-circle" for="product-size-${resultDetailSize[i].size}">${resultDetailSize[i].size}</label></li>`;
            }
        }
        document.getElementById("Find-Size").innerHTML = size;
    }

    async function loadQuantity(productId) {
        var urlDetailPD = '/api/client/product_detail/detailPD/' + productId;
        const responseDetailPD = await fetch(urlDetailPD, {
            method: 'GET'
        });

        const data = await responseDetailPD.json();
        let quantity = 0;
        for (let i = 0; i < data.length; i++) {
            quantity += data[i].soLuong;
        }
        totalQuantity = quantity;
        document.getElementById("Find-Quantity").innerHTML = totalQuantity;
    }

    async function chooseProductColor(idPD) {
        // Lấy ra input radio đã được chọn
        var selectedColorInput = document.querySelector('input[name="colors"]:checked');
        if (selectedColorInput) {
            // Lấy giá trị id của màu sắc đã chọn
            var selectedColorId = selectedColorInput.id.split('-')[2]; // Lấy phần số cuối cùng sau dấu "-"
            var arrSize = [];
            let quantity = 0;
            var url = "/api/client/product_detail/detail/" + idPD + "/" + selectedColorId;
            const response = await fetch(url, {
                method: 'GET'
            });
            var result = await response.json();
            var selectedSizeInput = document.querySelectorAll('input[name="sizes"]');
            var liSize = document.querySelectorAll('#Find-Size li');
            if (selectedProductDetailColor === undefined) {
                selectedProductDetailColor = selectedColorId;
                for (let i = 0; i < result.length; i++) {
                    quantity += result[i].soLuong;
                    selectedSizeInput.forEach(function (inputs) {
                        var a = inputs.id.split('-')[2].toLowerCase();
                        var b = result[i].size.toLowerCase();
                        if (b === a) {
                            inputs.removeAttribute('disabled');
                            arrSize.push(inputs.id.split('-')[2]);
                        }
                    });
                }

            } else {
                if (selectedProductDetailColor !== selectedColorId) {
                    arrSize = [];
                    selectedProductDetailColor = selectedColorId;
                    selectedProductDetailSize = undefined;
                    for (i = 0; i < result.length; i++) {
                        quantity += result[i].soLuong;
                        selectedSizeInput.forEach(function (inputs) {
                            var a = inputs.id.split('-')[2].toLowerCase();
                            var b = result[i].size.toLowerCase();
                            if (b === a) {
                                inputs.checked = false;
                                inputs.removeAttribute('disabled');
                                arrSize.push(inputs.id.split('-')[2]);
                            }
                        });
                    }
                } else {
                    var radioInputs = document.querySelectorAll('input[type="radio"]');
                    var idToRemove = "product-color-" + selectedColorId;
                    for (let i = 0; i < radioInputs.length; i++) {
                        quantity += result[i].soLuong;
                        if (radioInputs[i].id.split('-')[2] === idToRemove) {
                            for (let j = 0; j < radioInputs.length; j++) {
                                radioInputs[j].checked = false;
                            }
                            break;
                        }
                    }
                    selectedProductDetailColor = selectedColorId;
                    arrSize = [];
                    for (i = 0; i < result.length; i++) {
                        quantity += result[i].soLuong;
                        selectedSizeInput.forEach(function (inputs) {
                            var a = inputs.id.split('-')[2].toLowerCase();
                            var b = result[i].size.toLowerCase();
                            if (b === a) {
                                inputs.checked = false;
                                inputs.removeAttribute('disabled');
                                arrSize.push(inputs.id.split('-')[2]);
                            }
                        });

                    }
                }
            }
            liSize.forEach(function (li) {
                var a = li.id.split('-')[2].toLowerCase();
                var matchFound = false;
                for (i = 0; i < arrSize.length; i++) {
                    var b = arrSize[i].toLowerCase();
                    if (a === b) {
                        matchFound = true;
                        break;
                    }
                }
                if (!matchFound) {
                    li.style.display = 'none';
                } else {
                    li.style.display = 'block';
                }
            });
            totalQuantity = quantity;
            document.getElementById("Find-Quantity").innerHTML = totalQuantity;
            console.log("Selected color ID:", selectedColorId);
            // Thực hiện các xử lý khác nếu cần
        } else {
            console.log("No color selected");
            // Xử lý khi không có màu nào được chọn
        }

    }

    async function chooseProductSize(idPD) {
        // Lấy ra input radio đã được chọn
        var selectedSizeInput = document.querySelector('input[name="sizes"]:checked');
        if (selectedSizeInput) {
            // Lấy giá trị size đã chọn
            var selectedSize = selectedSizeInput.id.split('-')[2];// Lấy phần số cuối cùng sau dấu "-"
            console.log("Selected size:", selectedSize);
            selectedProductDetailSize = selectedSize;
            var url = "/api/client/product_detail/detailSL/" + idPD + "/" + selectedProductDetailColor + "/" + selectedProductDetailSize;
            const response = await fetch(url, {
                method: 'GET'
            });
            var result = await response.json();
            totalQuantity = result.soLuong;
            document.getElementById("Find-Quantity").innerHTML = totalQuantity;
            var minus = document.getElementById("minus");
            var input = document.getElementById('cart-quantity');
            var plus = document.getElementById("plus");
            if (selectedProductDetailColor !== undefined && selectedProductDetailSize !== undefined) {
                minus.removeAttribute("disabled");
                input.removeAttribute("disabled");
                plus.removeAttribute("disabled");
            }
            // Thực hiện các xử lý khác nếu cần
        } else {
            console.log("No size selected");
            // Xử lý khi không có size nào được chọn
        }
    }

    async function inputQuantity() {
        var productId = document.getElementById("productId").value;
        var input = document.getElementById('cart-quantity');
        var url = "/api/client/product_detail/detailSL/" + productId + "/" + selectedProductDetailColor + "/" + selectedProductDetailSize;
        const response = await fetch(url, {
            method: 'GET'
        });
        var result = await response.json();
        input.min = 1;
        input.max = result.soLuong;

        if (input.value > input.max) {
            (async () => {
                await Toast.fire({
                    icon: "warning",
                    title: "Số lượng không đủ !",
                });
            })();
        } else if (input.value < input.min) {
            (async () => {
                await Toast.fire({
                    icon: "warning",
                    title: "Số lượng không đúng !",
                });
            })();
        } else {
            quantityAddToCart = input.value;
        }
    }

    async function AddToCart() {
        var productIdInput = document.getElementById("productId");
        if (productIdInput) {
            var productId = productIdInput.value;
            let product = {};
            if (selectedProductDetailColor === undefined && selectedProductDetailSize === undefined) {
                (async () => {
                    await Toast.fire({
                        icon: "warning",
                        title: "Chưa Chọn Màu Và Size !",
                    });
                })();
            } else if (selectedProductDetailColor === undefined) {
                (async () => {
                    await Toast.fire({
                        icon: "warning",
                        title: "Chưa Chọn Màu !",
                    });
                })();
            } else if (selectedProductDetailSize === undefined) {
                (async () => {
                    await Toast.fire({
                        icon: "warning",
                        title: "Chưa Chọn Màu !",
                    });
                })();
            } else {
                product = {ms: selectedProductDetailColor, size: selectedProductDetailSize, sl: quantityAddToCart};
                var url = '/api/client/cart_detail/addByProductDetailPage/' + productId;
                const response = await fetch(url, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(product)
                });
                console.log(response);
                if (response.status === 200) {
                    (async () => {
                        await Toast.fire({
                            icon: "success",
                            title: "Thêm thành công!",
                        });
                    })();
                    selectedProductDetailColor = undefined;
                    selectedProductDetailSize = undefined;
                    quantityAddToCart = 1;
                } else {
                    (async () => {
                        await Toast.fire({
                            icon: "error",
                            title: "Thêm thất bại!",
                        });
                    })();
                }
            }
        }

    }

    async function loadDescription() {

    }
</script>
</body>
</html>